* {
  box-sizing: border-box;
}
// generic height
body {
  margin: 0;
  height: 100vh;
}
#root,
.app,
.calendar {
  height: 100%;
}

// border left
.bl {
  border-left: solid thin black;
}
// border top
.bt {
  border-top: solid thin black;
}
// border bottom
.bb {
  border-bottom: solid thin black;
}
// border right
.br {
  border-right: solid thin black;
}
// generic label
.label {
  padding: 0.25em;
}
// top labels labels
h6.label {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
// event items
.event {
  border-radius: 8px;
  background: #2f74b5;
  padding: 0.25em;
  color: white;
  margin: 0.25em;
}

// hides other month numbers
.other-month {
  color: lightgray;
}
// generic hover
.option,
.event,
button,
a {
  &:hover:not([disabled='']) {
    cursor: pointer;
  }
  &[disabled='true'] {
    cursor: not-allowed;
  }
}
// navigation section
.nav {
  padding: 1em;
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    // date label spacing from buttons
    .label {
      margin: 0.5em;
    }
  }
}
// all containers are grids
.container {
  display: grid;
  &.events {
    align-content: flex-start;
    min-height: 100px;
  }

  &.calendar {
    padding: 1em;
  }
  // colums for each day
  &.week {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
  }

  // forses top to take up minimum space and the rest is filled with secon area
  &.with-header {
    align-items: flex-start;
    grid-template-rows: auto 1fr;
  }

  // indevidual cells
  .cell {
    // changes colors for todays date
    &.today {
      background: #e7f0f8;
      .label {
        color: #2f74b5;
        background: #f0eded;
      }
    }
  }
  &.month {
    .label {
      background: #e0e0e0;
    }
  }
}
// context menu
.contextMenu {
  position: absolute;
  border-radius: 6px;
  background: #e7f0f8;
  // individual option settings
  .option {
    padding: 0.25em 0.5em;
    // padding fix for bottom
    &.last {
      padding-bottom: 0.5em;
    }
    // padding fix for top

    &.first {
      padding-top: 0.5em;
    }
    &:hover {
      color: white;
      background-color: #2f74b5;
      // ensures top is rounded when hovering
      &.first {
        padding-top: 0.5em;
        border-radius: 6px 6px 0 0;
      }
      // ensures bottom is rounded when hovering
      &.last {
        padding-bottom: 0.5em;
        border-radius: 0 0 6px 6px;
      }
    }
  }
}
